<div class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary mb-4">
	<a class="navbar-brand" href="#">Ag</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler"
	 aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbarToggler">
		<ul class="navbar-nav nav-pills">
			<li class="nav-item">
				<a href="#" class="nav-link">Home</a>
			</li>
			<li class="nav-item">
				<a routerLink="/form" class="nav-link">Form</a>
			</li>
			<li class="nav-item">
				<a routerLink="/detail" class="nav-link">Detail</a>
			</li>
			<li class="nav-item">
				<a href="/loginform" class="nav-link">Login</a>
			</li>
		</ul>
	</div>
	<form class="form-inline my-2 float-right">
		<input class="form-control mr-sm-2" type="search" placeholder="Search">
	</form>
</div>